.custom_dropdown_navigation {
    display: none;
  }
  .custom_dropdown_close_icon {
    transition: transform 0.25s ease;
    transform-origin: center;
    transform: rotate(90deg);
  }
  a.active {
    color: #007BFF !important;
    font-weight: 600 !important;
  }
  