@media screen and (min-width: 992px) and (max-width: 1280px) {
    
    .section_circle {
        background-color: var(--_v2---css-colors--brand-02);
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 30rem;
        display: flex;
      }

  }